In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'C:\Users\jonat\Documents\GitHub\OBS-to-TXT\notas_organizadas.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nome da Nota                731 non-null    object
 1   Data da Última Modificação  731 non-null    object
 2   Data da Nota                591 non-null    object
 3   Tags                        669 non-null    object
 4   Contagem de Palavras        731 non-null    int64
 5   Links                       731 non-null    int64
 6   Caminho da Nota             731 non-null    object
dtypes: int64(2), object(5)
memory usage: 40.1+ KB

In [2]:
df.describe()

       Contagem de Palavras       Links
count            731.000000  731.000000
mean             145.772914    2.755130
std              332.708215    7.579277
min                0.000000    0.000000
25%               34.000000    0.000000
50%               68.000000    1.000000
75%              157.000000    3.000000
max             4414.000000  150.000000

transformar as tabelas de data para o tipo data.

In [3]:
df['Data da Última Modificação'] = pd.to_datetime(df['Data da Última Modificação']).dt.date
df['Data da Última Modificação'] = pd.to_datetime(df['Data da Última Modificação'], errors='coerce') 
df['Data da Nota'] = pd.to_datetime(df['Data da Nota'], errors='coerce')
df.info()
df.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nome da Nota                731 non-null    object
 1   Data da Última Modificação  731 non-null    datetime64[ns]
 2   Data da Nota                591 non-null    datetime64[ns]
 3   Tags                        669 non-null    object
 4   Contagem de Palavras        731 non-null    int64
 5   Links                       731 non-null    int64
 6   Caminho da Nota             731 non-null    object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 40.1+ KB

,Nome da Nota,Data da Última Modificação,Data da Nota,Tags,Contagem de Palavras,Links,Caminho da Nota
220,Gráfico de linhas,2024-12-31,2024-09-10,DataAnalyst,29,2,01 - Progetos\zData Analyst\Graficos\Gráfico d...
304,Aula (35),2024-08-07,2024-08-06,data: 2024-08-06,171,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
561,DATEADD,2024-09-23,2024-09-23,DataAnalyst,96,0,01 - Progetos\zData Analyst\SQL\Comandos\DATEA...
399,kind=,2024-12-17,2024-12-17,Gráfico,144,9,01 - Progetos\zData Analyst\Python\Matplotlib\...
127,Emprego do E,2023-10-14,NaT,#Português #ortografia,105,3,01 - Progetos\Português\Emprego do E.md
123,dupla prosódia,2023-10-01,NaT,#Português #fonologia,110,0,01 - Progetos\Português\dupla prosódia.md
32,Object of the sentence,2024-11-26,2024-11-26,Inglês,84,0,01 - Progetos\Inglês\Object of the sentence.md
331,Aula (60),2024-08-07,2024-08-06,data: 2024-08-06,213,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
613,TIME,2024-09-23,2024-09-23,Comando,78,0,01 - Progetos\zData Analyst\SQL\Comandos\TIME.md
96,LED,2024-04-14,2024-04-09,Eletrônica,20,2,01 - Progetos\Outros\Eletrônica\Componentes\LE...

In [4]:
df

,Nome da Nota,Data da Última Modificação,Data da Nota,Tags,Contagem de Palavras,Links,Caminho da Nota
0,",pop",2024-11-13,2024-11-13,Python,108,0,",pop.md"
1,Discretização,2024-10-23,2024-10-23,DataAnalyst,28,0,Discretização.md
2,EDA,2024-12-03,2024-12-03,DataAnalyst,158,8,EDA.md
3,Indução,2024-10-29,2024-10-29,DataAnalyst,132,6,Indução.md
4,o'clock,2024-11-22,2024-11-22,Word,26,2,o'clock.md
...,...,...,...,...,...,...,...
726,Nota diaria,2023-09-27,NaT,NaN,2,0,99 - Recursos\Modelos\Nota diaria.md
727,Pessoas,2023-09-27,NaT,NaN,48,0,99 - Recursos\Modelos\Pessoas.md
728,pret,2024-09-19,NaT,data: {{date}},30,0,99 - Recursos\Modelos\pret.md
729,Sites,2024-04-28,2024-04-28,data: 2024-04-28,7,0,99 - Recursos\Modelos\Sites.md
730,Vídeo,2024-04-28,2024-04-28,data: 2024-04-28,8,0,99 - Recursos\Modelos\Vídeo.md

# Mudar o tipo de data e hora para o brasileiro.

In [5]:
# df['Data da Última Modificação_Data'] = df['Data da Última Modificação'].dt.strftime('%d/%m/%y')
# df['Data da Nota_Data'] = df['Data da Nota'].dt.strftime('%d/%m/%y')
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nome da Nota                731 non-null    object
 1   Data da Última Modificação  731 non-null    datetime64[ns]
 2   Data da Nota                591 non-null    datetime64[ns]
 3   Tags                        669 non-null    object
 4   Contagem de Palavras        731 non-null    int64
 5   Links                       731 non-null    int64
 6   Caminho da Nota             731 non-null    object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 40.1+ KB

,Nome da Nota,Data da Última Modificação,Data da Nota,Tags,Contagem de Palavras,Links,Caminho da Nota
0,",pop",2024-11-13,2024-11-13,Python,108,0,",pop.md"
1,Discretização,2024-10-23,2024-10-23,DataAnalyst,28,0,Discretização.md
2,EDA,2024-12-03,2024-12-03,DataAnalyst,158,8,EDA.md
3,Indução,2024-10-29,2024-10-29,DataAnalyst,132,6,Indução.md
4,o'clock,2024-11-22,2024-11-22,Word,26,2,o'clock.md
...,...,...,...,...,...,...,...
726,Nota diaria,2023-09-27,NaT,NaN,2,0,99 - Recursos\Modelos\Nota diaria.md
727,Pessoas,2023-09-27,NaT,NaN,48,0,99 - Recursos\Modelos\Pessoas.md
728,pret,2024-09-19,NaT,data: {{date}},30,0,99 - Recursos\Modelos\pret.md
729,Sites,2024-04-28,2024-04-28,data: 2024-04-28,7,0,99 - Recursos\Modelos\Sites.md
730,Vídeo,2024-04-28,2024-04-28,data: 2024-04-28,8,0,99 - Recursos\Modelos\Vídeo.md

# Corrigir o as tags

In [6]:
df['Tags'] = df['Tags'].apply(lambda x: np.nan if isinstance(x, str) and x.startswith('data:') else x)
df['Tags'] = df['Tags'].str.replace(r'#', '', regex=True)
df['Tags'] = df['Tags'].str.replace(r'"', '', regex=True)
df.sample(20)

,Nome da Nota,Data da Última Modificação,Data da Nota,Tags,Contagem de Palavras,Links,Caminho da Nota
139,Emprego do Ç,2023-10-12,NaT,NaN,133,3,01 - Progetos\Português\Emprego do Ç.md
655,TOP,2024-09-19,NaT,NaN,48,2,02 - Referencias\Pessoas\Pretendentes\TOP.md
656,Chatpdf,2024-04-29,2024-04-28,Ferramentas,24,0,02 - Referencias\Site\Chatpdf.md
170,Segunda leitura,2023-10-25,NaT,NaN,20,7,01 - Progetos\Português\Segunda leitura.md
444,",loc",2024-11-18,2024-11-14,Comando,273,3,01 - Progetos\zData Analyst\Python\Pandas\Coma...
534,Tipos de dados SQL,2024-12-31,2024-09-11,DataAnalyst,48,8,01 - Progetos\zData Analyst\SQL\Tipos de dados...
727,Pessoas,2023-09-27,NaT,NaN,48,0,99 - Recursos\Modelos\Pessoas.md
638,Eletrônica Básica,2024-07-10,2024-04-24,Eletrônica,209,11,02 - Referencias\Escritos\Livros\Eletrônica Bá...
456,",set_index",2024-12-13,2024-12-13,Comando,6,0,01 - Progetos\zData Analyst\Python\Pandas\Coma...
555,CREATE TEMPORARY TABLE,2024-10-03,2024-09-26,Comando,148,0,01 - Progetos\zData Analyst\SQL\Comandos\CREAT...
224,Histograma,2024-12-20,2024-12-18,Gráfico,92,7,01 - Progetos\zData Analyst\Graficos\Histogram...
340,Aula (69),2024-08-07,2024-08-06,NaN,396,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
560,DATE,2024-09-24,2024-09-15,Comando,154,1,01 - Progetos\zData Analyst\SQL\Comandos\DATE.md
18,300 palavras basicas,2024-12-06,NaT,NaN,3738,0,01 - Progetos\Anki\300 palavras basicas.md
159,Paroxítonas,2023-09-30,NaT,Português fonologia,22,0,01 - Progetos\Português\Paroxítonas.md
229,Princípios da Gestalt,2024-09-12,2024-09-12,NaN,44,8,01 - Progetos\zData Analyst\Graficos\Princípio...
118,Classificação das consoantes,2023-10-06,NaT,Português fonologia,35,4,01 - Progetos\Português\Classificação das cons...
315,Aula (46),2024-08-07,2024-08-06,NaN,143,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
54,Proposição composta,2024-11-09,2024-11-09,NaN,50,1,01 - Progetos\Matemática\Volume 1\Proposição c...
411,DataFrame,2024-11-20,2024-08-21,Projetos,287,0,01 - Progetos\zData Analyst\Python\Pandas\Data...

In [7]:
df["Tags"].unique()

array(['Python', 'DataAnalyst', 'Word', nan, 'Inglês', 'Conceito',
       'Preposição', 'Regra', 'Matemática números', 'Matemática',
       'Programação', 'Aprendizado', 'Sociologia', 'Eletrônica', 'bike',
       'Eletrônica Planejamento', 'Maker', 'Português fonologia',
       'Português Classes_de_palavras', 'Português Morfologia',
       'fonologia Português', 'Português ortografia', 'Português',
       'Datascience', 'Gráfico', 'Estatística', 'Comando', 'Networking',
       'POO', 'Projetos', 'Pandas', 'Erro', 'Carreira', 'Psicologia',
       'insite', 'Pessoa', 'Ferramentas', 'Fitness', 'Arte', 'Utilidades',
       'Economia', 'Interesante', 'Física', 'Venda', 'IA',
       'Nutricionismo', 'Investimento', 'ideias', 'C'], dtype=object)

### Separar todas as tags em uma lista.

In [8]:
df['Tags'] = df['Tags'].apply(lambda x: [tag.strip() for tag in str(x).split()] if pd.notna(x) else [])
df.sample(20)

,Nome da Nota,Data da Última Modificação,Data da Nota,Tags,Contagem de Palavras,Links,Caminho da Nota
564,DELETE ou DROP VIEW,2024-09-25,2024-09-25,[Comando],66,2,01 - Progetos\zData Analyst\SQL\Comandos\DELET...
370,Aula (96),2024-08-08,2024-08-06,[],153,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
71,Current source,2024-05-25,2024-05-25,[Eletrônica],19,2,01 - Progetos\Outros\Eletrônica\Current source.md
621,VIEW,2024-09-25,2024-09-24,[Comando],72,9,01 - Progetos\zData Analyst\SQL\Comandos\VIEW.md
286,Aula (17),2024-08-07,2024-08-06,[],92,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
515,Different Types,2024-09-21,2024-09-21,[DataAnalyst],25,0,01 - Progetos\zData Analyst\SQL\Different Type...
127,Emprego do E,2023-10-14,NaT,"[Português, ortografia]",105,3,01 - Progetos\Português\Emprego do E.md
611,SET,2024-09-15,2024-09-13,[Comando],50,2,01 - Progetos\zData Analyst\SQL\Comandos\SET.md
524,Queries,2024-12-31,2024-09-11,[DataAnalyst],36,3,01 - Progetos\zData Analyst\SQL\Queries.md
478,Análise descritiva ou exploratória,2024-12-31,2024-09-04,[DataAnalyst],92,2,01 - Progetos\zData Analyst\Roadmap\Análise de...
383,Private em python,2024-08-13,2024-08-13,[Python],146,0,01 - Progetos\zData Analyst\Python\Comandos\Pr...
19,Anki,2024-11-28,NaT,[],33,1,01 - Progetos\Anki\Anki.md
214,Exemplo de gráficos,2024-09-21,2024-09-13,[DataAnalyst],307,25,01 - Progetos\zData Analyst\Graficos\Exemplo d...
156,Oxítonas,2023-09-30,NaT,"[Português, fonologia]",23,0,01 - Progetos\Português\Oxítonas.md
89,Capacitor,2024-04-18,2024-04-17,[Eletrônica],120,19,01 - Progetos\Outros\Eletrônica\Componentes\Ca...
595,Operadores no SQL,2024-09-19,2024-09-13,[DataAnalyst],65,7,01 - Progetos\zData Analyst\SQL\Comandos\Opera...
289,Aula (20),2024-08-07,2024-08-06,[],119,0,01 - Progetos\zData Analyst\Python\Aulas\Curso...
252,Palavras,2024-10-22,2024-10-22,[],432,0,01 - Progetos\zData Analyst\Palavras\Palavras.md
618,UPPER,2024-10-11,2024-09-23,[Comando],46,0,01 - Progetos\zData Analyst\SQL\Comandos\UPPER.md
238,Network,2024-09-21,2024-09-21,[Networking],217,0,01 - Progetos\zData Analyst\Linkedln\Network.md

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Nome da Nota                731 non-null    object
 1   Data da Última Modificação  731 non-null    datetime64[ns]
 2   Data da Nota                591 non-null    datetime64[ns]
 3   Tags                        731 non-null    object
 4   Contagem de Palavras        731 non-null    int64
 5   Links                       731 non-null    int64
 6   Caminho da Nota             731 non-null    object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 40.1+ KB

In [10]:
def obter_valores_lista(df, coluna):
    valores = []
    for lista in df[coluna]:
        valores.extend(lista)  # Adiciona todos os valores da lista à lista 'valores'
    return valores

# Chamando a função e exibindo o resultado
todos_valores = obter_valores_lista(df, 'Tags')
list(set(todos_valores))

['Investimento',
 'Gráfico',
 'Python',
 'Aprendizado',
 'Matemática',
 'Conceito',
 'Projetos',
 'Venda',
 'Word',
 'bike',
 'Eletrônica',
 'Utilidades',
 'Interesante',
 'Planejamento',
 'fonologia',
 'C',
 'Nutricionismo',
 'Preposição',
 'ideias',
 'ortografia',
 'Ferramentas',
 'Estatística',
 'POO',
 'Arte',
 'Comando',
 'Pandas',
 'Pessoa',
 'Regra',
 'Sociologia',
 'Psicologia',
 'insite',
 'Networking',
 'Fitness',
 'DataAnalyst',
 'Datascience',
 'Física',
 'Morfologia',
 'números',
 'Classes_de_palavras',
 'Português',
 'Carreira',
 'Economia',
 'IA',
 'Programação',
 'Maker',
 'Erro',
 'Inglês']

In [11]:
df

,Nome da Nota,Data da Última Modificação,Data da Nota,Tags,Contagem de Palavras,Links,Caminho da Nota
0,",pop",2024-11-13,2024-11-13,[Python],108,0,",pop.md"
1,Discretização,2024-10-23,2024-10-23,[DataAnalyst],28,0,Discretização.md
2,EDA,2024-12-03,2024-12-03,[DataAnalyst],158,8,EDA.md
3,Indução,2024-10-29,2024-10-29,[DataAnalyst],132,6,Indução.md
4,o'clock,2024-11-22,2024-11-22,[Word],26,2,o'clock.md
...,...,...,...,...,...,...,...
726,Nota diaria,2023-09-27,NaT,[],2,0,99 - Recursos\Modelos\Nota diaria.md
727,Pessoas,2023-09-27,NaT,[],48,0,99 - Recursos\Modelos\Pessoas.md
728,pret,2024-09-19,NaT,[],30,0,99 - Recursos\Modelos\pret.md
729,Sites,2024-04-28,2024-04-28,[],7,0,99 - Recursos\Modelos\Sites.md
730,Vídeo,2024-04-28,2024-04-28,[],8,0,99 - Recursos\Modelos\Vídeo.md

In [12]:
df.to_csv('dflimpo.csv', index=False, encoding='utf-8')